
body{
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

#bodies{
  background-color: #F1F6FC;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropup Button */
.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  bottom: 40px;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #f1f1f1;
}

.dropup:hover .dropup-content {
  display: block;
}

.ddbtn {
  width: 250px;
}
.row {
  
  
  margin: 0 auto;
}

.btn-successs:disabled,
.btn-successs[disabled]{
  border: 1px solid #999999;
  background-color: #a7a5a5;
  color: #666666;
  
}
.btn-successs{

/* CSS */

  appearance: button;
  backface-visibility: hidden;
  background-color: #273D7A;
  border-radius: 20px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Poppins;
  font-weight: bold;
  font-size: 100%;
  height: auto;
  line-height: 1.15;
  margin: 12px 0 12px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
 
  justify-content: space-around;
  
}

.btn-successs:disabled {
  cursor: default;
}

.btn-successs:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

